## 2021.04.29. 1회차

Ctrl + Enter : 그냥 Cell 실행  
Shift + Enter : Cell 실행하고 다음 Cell로 이동  
Altr + Enter : Cell 실행하고 다음 Cell 생성

In [62]:
x = 3 # x는 정수(int)
y = '강태영' # y는 글자(str)
z = 3.0 # z는 실수(float)
w = True # w는 불리안(bool)
type(y) # type : data type을 보여주는 함수

str

In [57]:
text_number = '10000'
real_number = int(text_number)
real_number + 777

10777

In [86]:
values = [w, 171, 27, 1995, x, 'TaeYoung', y, 27.34, False, z] #list 생성
values[2] #세 번째, 혹은 2번째(index) 선택

press_names = ['sbs', 'kbs', 'mbc']
press_names[-3] == press_names[0]

True

In [1]:
kty_info = [['name', 'TaeYoung Kang'],
            ['age', 27], 
            ['major', ['sociology', 'poli-sci', 'management-eng']],
            ['status','graduated']]

In [4]:
kty_info[2][1]

['sociology', 'poli-sci', 'management-eng']

In [5]:
kty_dict = {'name':'TaeYoung Kang',
            'age':27,
            'major':['sociology', 'poli-sci', 'management-eng'],
            'status':'graduated'}

# dict는 key와 value로 구성
kty_dict['status'] #index에는 key값을 입력해서 value값을 확인

'graduated'

In [6]:
kty_dict['major']

['sociology', 'poli-sci', 'management-eng']

In [123]:
people_dict = {'TaeYoungKang':{'age':27, 'major':['sociology', 'poli-sci', 'management']},
               'SoonJaeLee':{'age':86, 'major':['philosophy']}}
people_dict.keys()

dict_keys(['TaeYoungKang', 'SoonJaeLee'])

In [124]:
people_dict['SoonJaeLee'].keys()

dict_keys(['age', 'major'])

In [125]:
people_dict['TaeYoungKang']['major']

['sociology', 'poli-sci', 'management']

In [ ]:
for A in B : #B안에 있는 element들을 순서대로 A라고 부르면서 C라는 작업을 수행
    C

In [132]:
for each_major in people_dict['TaeYoungKang']['major'] :
    print(len(each_major))

9
8
10

In [133]:
for number in [2,3,4] :
    print(number*5)

10
15
20

In [ ]:
range(10) # range(N) : 0부터 N미만
range(3,8) # range(N, M) : N이상 M미만

In [142]:
for i in range(1,6) #[1,2,3,4,5] :
    print('X'*i)

X
XX
XXX
XXXX
XXXXX

In [152]:
for i in range(1,6) :
    print(' '*(i-1), 'X'*(6-i))

 XXXXX
  XXXX
   XXX
    XX
     X

In [158]:
prices = [34000, 78000, 12000]

new_prices = []
for each_price in prices :
    new_prices.append(each_price/10000)

In [163]:
numbers = [2, 3, 10, 19]
even_list = []
odds_list = []

for num in numbers :
    if num%2==1 :
        odds_list.append(num)
    else :
        even_list.append(num)

In [168]:
x = 'test'

if type(x)==int :
    print('It is a number.')
else :
    print('It is a character.')

It is a character.