## 2021.05.13. Python 3회차

**git clone** https://github.com/minvv23/sbs-python-lectures 을 시행하면 하위 디렉토리에  폴더 생성

해당 폴더에서 다시 들어가서 **git pull**을 실행하면 추가로 업데이트된 파일이 다운로드 됨

In [1]:
kty_dict = {'name':'TaeYoung', 'major':'sociology', 'age':27}
jgh_dict = {'name':'Giha', 'major':'sociology', 'age':34}
lsj_dict = {'name':'Soonjae', 'major':'philosophy', 'age':86}
iu_dict = {'name':'Jieun', 'major':'music', 'age':29}

bio_list = [kty_dict, jgh_dict, lsj_dict, iu_dict]
bio_list

[{'name': 'TaeYoung', 'major': 'sociology', 'age': 27},
 {'name': 'Giha', 'major': 'sociology', 'age': 34},
 {'name': 'Soonjae', 'major': 'philosophy', 'age': 86},
 {'name': 'Jieun', 'major': 'music', 'age': 29}]

In [2]:
import numpy as np # 수치 연산
import pandas as pd # 데이터 전처리
import matplotlib.pyplot as plt # 시각화(ggplot)
import seaborn as sns # 시각화(고오-급 ggplot)
import statsmodels.api as sm # 통계분석용 패키지 (회귀분석, 패널분석, t-test)

In [3]:
bio_df = pd.DataFrame(bio_list)

In [4]:
bio_df['name']

0    TaeYoung
1        Giha
2     Soonjae
3       Jieun
Name: name, dtype: object

In [5]:
bio_df.columns

Index(['name', 'major', 'age'], dtype='object')

In [6]:
bio_df['age'].describe()

count     4.000000
mean     44.000000
std      28.154337
min      27.000000
25%      28.500000
50%      31.500000
75%      47.000000
max      86.000000
Name: age, dtype: float64

In [7]:
bio_df.iloc[1:, 1:] #iloc index 안에서 콤마(,) 앞에가 행(row), 뒤에가 열(column)

        major  age
1   sociology   34
2  philosophy   86
3       music   29

In [8]:
bio_df.iloc[1:] #iloc index 안에서 하나만 넣으면 행(row)으로 받음

      name       major  age
1     Giha   sociology   34
2  Soonjae  philosophy   86
3    Jieun       music   29

In [9]:
bio_df[bio_df['major']=='sociology']

       name      major  age
0  TaeYoung  sociology   27
1      Giha  sociology   34

In [10]:
bio_df[bio_df['age']<30]

       name      major  age
0  TaeYoung  sociology   27
3     Jieun      music   29

In [11]:
bio_df['birth_year'] = 2021 - bio_df['age'] +1

In [12]:
len(bio_df['name'])

4

In [13]:
bio_df['name'].str.len()

0    8
1    4
2    7
3    5
Name: name, dtype: int64

In [14]:
bio_df['name_length'] = bio_df['name'].str.len()

In [27]:
bio_df[['name','age','birth_year']]

       name  age  birth_year
0  TaeYoung   27        1995
1      Giha   34        1988
2   Soonjae   86        1936
3     Jieun   29        1993

In [17]:
bio_df.to_csv('./data/bio_df.csv')
#bio_df.to_excel('./data/bio_df.xlsx')

In [21]:
import os
os.getcwd() #get current working directory

'C:\\Users\\Hunnae\\Desktop\\헌내의 활동\\대회 · 과제 정리\\2021 SBS 파이썬(Python) 강의'

In [25]:
!dir #Mac이나 Linux에서는 ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: D888-7CAA

 C:\Users\Hunnae\Desktop\헌내의 활동\대회 · 과제 정리\2021 SBS 파이썬(Python) 강의 디렉터리

2021-05-13  오후 12:26    <DIR>          .
2021-05-13  오후 12:26    <DIR>          ..
2021-05-13  오전 11:57    <DIR>          .ipynb_checkpoints
2021-05-06  오후 01:08            21,491 20210428_Week01-03.ipynb
2021-05-06  오후 12:28             7,899 20210429_Lecture01.ipynb
2021-05-06  오후 01:31             6,448 20210506_Lecture02.ipynb
2021-05-13  오후 12:26            13,311 20210513_Lecture03.ipynb
2021-05-13  오후 12:22               157 bio_df.csv
2021-05-13  오후 12:22    <DIR>          data
2021-05-06  오후 01:31                46 README.md
               6개 파일              49,352 바이트
               4개 디렉터리  59,418,370,048 바이트 남음